@model MvcPL.Models.Test.TestViewModel
<div class="well">
    <h3>
        <strong> @Model.Name </ strong >
        <span class="pull-right label label-primary">Time @Model.TimeToDo minutes </ span >
    </h3>
    @using (Html.BeginForm("StartTest", "Question"))
    {
        <div class="pull-right">
            @Html.Hidden("testID", Model.Id)
            @Html.Hidden("timeToDo", Model.TimeToDo)
            <input type="submit" class="btn btn-success" value="Begin test" />
        </div>
    }
    <span class="lead"> Test @Model.Number </ span >
</div>
